workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.date }}\nEuro nie jest droższe od dolara.\nCena dolara: {{ $json.dolar }}\nCena euro: {{ $json.euro }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        560,
        -560
      ],
      "id": "b8e27438-7d8c-4136-94e9-6108a1529180",
      "name": "Discord",
      "webhookId": "23798599-8824-4cda-87c0-17447469a657",
      "credentials": {
        "discordWebhookApi": {
          "id": "2I3oRORslPG4tiho",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.nbp.pl/api/exchangerates/tables/A/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -992,
        -176
      ],
      "id": "c1e594d2-d917-4d6c-a493-cf3e5fa2e2b0",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "85711fb3-2b12-4d73-93df-4957d2577bfb",
              "name": "dolar",
              "value": "={{ $json.rates[1].mid }}",
              "type": "number"
            },
            {
              "id": "5ea9a6ef-17d0-4b52-8425-837b90c43fef",
              "name": "euro",
              "value": "={{ $json.rates[7].mid }}",
              "type": "number"
            },
            {
              "id": "49218d45-4d93-4a15-bdc7-2f19b9c435f2",
              "name": "date",
              "value": "={{ $json.effectiveDate }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -528,
        -192
      ],
      "id": "1674ca8f-1873-4051-8abe-b845a28d9e59",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1344,
        -176
      ],
      "id": "e1cd3025-654d-423b-9ca4-0b0b93bff4ff",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "dc11c115-ba0d-4566-8769-777e040e88c8",
              "leftValue": "={{ $json.dolar }}",
              "rightValue": "={{ $json.euro }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -128,
        -192
      ],
      "id": "6daf1a2f-cf9d-4158-8f8c-78bdb29c22c8",
      "name": "If"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.date }}\nEuro jest droższe od dolara.\nCena dolara: {{ $json.dolar }}\nCena euro: {{ $json.euro }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        576,
        128
      ],
      "id": "0f32ed04-4a3e-46c9-8829-35a6c6eaeb90",
      "name": "Discord1",
      "webhookId": "23798599-8824-4cda-87c0-17447469a657",
      "credentials": {
        "discordWebhookApi": {
          "id": "2I3oRORslPG4tiho",
          "name": "Discord Webhook account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Discord": {
      "main": [
        []
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Discord1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "ff473236-45bf-46e5-9486-9de761a7af18",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "78d48e6ef52d07fa22f9102cda0605c42fb0760b79a0c5e784d7734a4ed860ef"
  },
  "id": "bqAoNHEMt2xQaXaT8M2Ry",
  "tags": []
}